<div id="emrMenu">
    <ul id="menu">
        <li>Nurse</li>
        <li><a href="~/Patient/SearchPatient">Search Patient</a></li>
        <li>
            <a href="#">Patients</a>
            <ul>
                <li><a href="~/Patient/ManagePatients">Manage Patients</a></li>
                <li><a href="~/Patient/RegisterPatient">Register Patient</a></li>
                <li><a href="~/Patient/SearchPatient">Search Patient</a></li>
            </ul>
        </li>
        <li>Patient History</li>
        <li><a href="~/Report/AllAppointments" >View All Appointments</a></li>
        <li><a href="~/Home/About" >About</a></li>
        @*<li>Contact Us</li>
        <li>Help</li>*@
    </ul>
</div>