<div id="emrMenu">
    <ul id="menu">
        <li><a href="~/Patient/SearchPatient">Search Patient</a></li>
        <li><a href="~/Report/AllAppointments">View All Appointments</a></li>
        <li>
            Physician Tasks
            <ul>
                 <li><a href="~/Admin/ManagePhysicians">View Physician Title</a></li>
                 <li><a href="~/Admin/PhysicianSchedules">Physician Schedules</a></li>
                 <li><a href="~/Report/PhysicianAppointments">My Appointments</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Patients</a>
            <ul>
                <li><a href="~/Patient/ManagePatients">Manage Patients</a></li>
                <li><a href="~/Patient/RegisterPatient">Register Patient</a></li>
                <li><a href="~/Patient/SearchPatient">Search Patient</a></li>
            </ul>
        </li>
        <li><a href="~/Home/About">About</a></li>
        @*<li>About Us</li>
        <li>Contact Us</li>
        <li>Help</li>*@
    </ul>
</div>