@{
    ViewBag.Title = "About";
}
<div style="text-align:center;">
    <div class="pageHeading">@Html.Label("About Apex Asia EMR")</div><br />
    <p><img src="../../Images/stethoscope.jpg" alt="EMR icon" width="60" height="60" /></p>
    <h2>(Apex Asia EMR version 1.0)</h2>
</div>

<p>&nbsp;</p>
